<!DOCTYPE html>
<html lang="zh-cn"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" href="/think/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
 <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
 
 <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
 <script src="/think/public/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
 <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<title>test</title> 
<style>

</style> 
</head> 
<body> 
{include file="public/header"/}
{include file="public/sidebar"/}

</body> 
</html> 