{layout name="layout" /}
<div class="row main-wrap">
  <div class="col-md-2">
     <div class="panel panel-default">
	    <div class="panel-heading">
		  <label>选择物流单位</label>
		</div>
		<div class="panel-body">
		  <select onchange="selchang()">
		   {foreach name='data' item='vo'}
		    <option value="{$vo}">{$vo}</option>
			{/foreach}
		  </select>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">出库单据查询</button>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">生成发货单据</button>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">发货单据查询</button>
		</div>
	 </div>
  </div>
  <div class="col-md-10">
    <table class="table">
	  <thead>
	    <tr>
		  <th>单号</th>
		  <th>门店编码</th>
		  <th>门店名称</th>
		  <th>收货人</th>
		  <th>电话</th>
		  <th>货运部名称</th>
		  <th>货运部编码</th>
		  <th>件数</th>
		  <th>体积</th>
		  <th>单价</th>
		  <th>运费</th>
		</tr>
	  </thead>
	  <tbody>
	   {volist id='mydata' name='mydata' key='key'}
	    <tr>
	    	<td width="120px">{$mydata['单号']}</td>
	    	<td>{$mydata['仓库编码']}</td>
	    	<td>{$mydata['仓库名称']}</td>
	    	<td>{$mydata['收货人']}</td>
	    	<td>{$mydata['电话']}</td>
	    	<td>{$mydata['货运部名称']}</td>
	    	<td>{$mydata['货运部编码']}</td>
	    	<td>{$mydata['件数']}</td>
	    	<td>{$mydata['体积']}</td>
	    	<td>{$mydata['发货单价']}</td>
	    	<td>{$mydata['运费']}</td>
	    </tr>
		{/volist}
	  </tbody>
	
	</table>
  </div>
  <script>
    function selchang(){
	 var value=$('select').val();
	 alert(value);
	}
  </script>
</div>