{layout name="layout" /}
<div class="row main-wrap">
  <div class="col-md-2">
     <div class="panel panel-default">
	    <div class="panel-heading">
		  <label>选择物流单位</label>
		</div>
		<div class="panel-body">
		  <select>
		    <option>金典物流</option>
			<option>荣兴物流</option>
			<option>俊发货运部</option>
		  <select>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">出库单据查询</button>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">生成发货单据</button>
		</div>
		<div class="panel-body">
		  <button class="btn btn-primary">发货单据查询</button>
		</div>
	 </div>
  </div>
  <div class="col-md-10">
  </div>
</div>